body {
    background: url("../views/free-bird-my-spirit-animal.jpg");
}
.display-animal {
    display: inline-block;

}
.display-name {
    display: inline-block;

}

.container-fluid {
    width: 50%
}

.sit-left {
    float: left;
}

.sit-right {
    float: right;
    margin-left: 10px;
}